
body {
    font-family: Arial, sans-serif;
    background-color: #d6eef8;
    color: #181818;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #e0dfdf;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #6f1414;
    
}

.titulo {
    color: #6c417e;
    text-align: center;

}

.foto img {
    max-width: 200px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 10px;
    
}

.foto {
    text-align: center;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #589571;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #9bd4b3;
}

th, td {
    width: 25%;
}


